<table style="height: 780px; font-family: arial, helvetica, sans-serif; width: 594px;">
<tbody>
<tr style="height: 348px;">
<td style="width: 211px; height: 348px; text-align: center;">
<p><strong><img src="http://thor.iridium-ro.com/fragments/agony.png" alt="" width="188" height="300" /></strong></p>
<p style="text-align: center;"><strong>Fragment of Agony</strong></p>
</td>
<td style="width: 145px; height: 348px; text-align: center;">
<p><strong><img src="http://thor.iridium-ro.com/fragments/despair.png" alt="" width="167" height="323" /></strong></p>
<p><strong>Fragment of Despair</strong></p>
</td>
<td style="width: 229px; height: 348px; text-align: center;">
<p><strong><img src="http://thor.iridium-ro.com/fragments/hatred.png" alt="" width="203" height="315" /></strong></p>
<p><strong>Fragment of Hatred</strong></p>
</td>
</tr>
<tr style="height: 33px;">
<td style="width: 211px; height: 33px;">
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://thor.iridium-ro.com/fragments/sorrow.png" alt="" width="180" height="290" /></p>
<p style="text-align: center;"><strong>Fragment of Sorrow</strong></p>
</td>
<td style="width: 145px; height: 33px;">
<p>&nbsp;</p>
<p><img src="http://thor.iridium-ro.com/fragments/thanatos.png" alt="" width="172" height="266" /></p>
<p style="text-align: center;"><strong>Fragment of Thanatos</strong></p>
<p>&nbsp;</p>
</td>
<td style="width: 229px; height: 33px;">&nbsp;</td>
</tr>
</tbody>
</table>
