<table style="height: 780px; font-family: arial, helvetica, sans-serif;" width="607">
<tbody>
<tr style="height: 348px;">
<td style="width: 190px; height: 348px; text-align: center;">
<p><strong><img src="http://thor.iridium-ro.com/fragments/agony.png" alt="" width="188" height="300" /></strong></p>
<p style="text-align: center;"><strong>Fragment of Agony</strong></p>
</td>
<td style="width: 193px; height: 348px; text-align: center;">
<p><strong><img src="http://thor.iridium-ro.com/fragments/despair.png" alt="" width="158" height="305" /></strong></p>
<p><strong>Fragment of Despair</strong></p>
</td>
<td style="width: 202px; height: 348px; text-align: center;">
<p><strong><img src="http://thor.iridium-ro.com/fragments/hatred.png" alt="" width="199" height="308" /></strong></p>
<p><strong>Fragment of Hatred</strong></p>
</td>
</tr>
<tr style="height: 33px;">
<td style="width: 190px; height: 33px;">
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://thor.iridium-ro.com/fragments/sorrow.png" alt="" width="186" height="299" /></p>
<p style="text-align: center;"><strong>Fragment of Sorrow</strong></p>
</td>
<td style="width: 193px; height: 33px;">
<p>&nbsp;</p>
<p><img src="http://thor.iridium-ro.com/fragments/thanatos.png" alt="" width="191" height="295" /></p>
<p style="text-align: center;"><strong>Fragment of Thanatos</strong></p>
<p>&nbsp;</p>
</td>
<td style="width: 202px; height: 33px;">&nbsp;</td>
</tr>
</tbody>
</table>
